body {
    width:100%;
   
}

.btncursor {
cursor:pointer;
width:160px;
height:40px;
font-family:Arial;
font-style:italic;
font-weight:bold;
color:white;
/*background-color:#3496DB;*/
background-color:#A9E2F3;
border:none;
font-size:14px;
text-align:center
}

.btncursor:hover {
cursor:pointer;
width:160px;
height:40px;
font-family:Arial;
font-style:italic;
font-weight:bold;
color:white;
background-color:#4F7A9A;

border:none;
font-size:14px;
}


.btncursor1 {
cursor:pointer;
width:160px;
height:40px;
font-family:Arial;
font-style:italic;
font-weight:bold;
color:white;
/*background-color:#0F705D;*/
background-color:#BDBDBD;
border:none;
font-size:14px;
text-align:center
}

.btncursor1:hover {
cursor:pointer;
width:160px;
height:40px;
font-family:Arial;
font-style:italic;
font-weight:bold;
color:white;
/*background-color:#81F79F;*/
background-color:#6E6E6E;
border:none;
font-size:14px;
text-align:center
}
.btncursor2 {
    cursor: pointer;
    width: 160px;
    height: 40px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    color: white;
    /*background-color:#0F705D;*/
    background-color: #6E6E6E;
    border: none;
    font-size: 14px;
    text-align: center;
}

.btncursor3 {
    cursor: pointer;
    width: 160px;
    height: 40px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    color: white;
    /*background-color:#0F705D;*/
    background-color: #4F7A9A;
    border: none;
    font-size: 14px;
    text-align: center;
}

.h2head {
font-family:Arial,Verdana;
font-size:20px;
}

.bg {
    background-color: #EFF2FB;
}

.bg1 {
width:100%;
text-align:center;
background-color:#D2E0F1;
}

.catbutton {
width:150px;
height:40px;
background-color:#3498DB;
font-weight:bold;
color:white;
}

.catsubject {
    font-weight:bold;
    width:200px;
    height:50px;
color:#344E72;
font:13px Arial, Helvetica, sans-serif #111;
}

bottompara {
text-align:justify;
font:15px Arial;
}

.allcat {
    padding-top:8px;
    width:100%;
}

.cattd {
    background-color: white;
    border: 1px solid #EFFBF5;
    width: 305px;
    height: 220px;
}

.cattd1 {
    background-color: white;
    border: 1px solid #EFFBF5;
    width: 250px;
    height: 220px;
}

.tabletop {
    padding-top: 10px;

}

.tablebottom {
    padding-bottom:10px;
}

#wrapperclass {

height:auto;
width:200px;
box-shadow:2px 2px 15px 2px #999;
background-color:#FFF;
}

.simple 
    { 
      text-decoration:none;
      color:#006699; 
      font-family:Segoe UI;
      font-size:15px;
    } 
    .simple:hover 
    { 
       text-decoration:underline;
      color:green; 
      font-size:16px;
      
    } 
    .active{
	font-weight: bold;
      font-family:Segoe UI;
	font-size:17px;
	color: DarkOrange;
	text-decoration:none;

}
.linktop {
font-family:Arial;
	font-size:16px;
    color:#2E9AFE;
    

}
.menustyle {
    /*background-color:#0489B1;*/
   /*background-color:#4B98B2;*/
  /*background-color: #BDBDBD;*/
    background-color: #9FC5D7;
     height:46px;
     width:600px;
    
}

.myMenu {
	margin:0;
	padding:0;
    /*color:#308EC2;*/
    /*background-color:#308EC2;*/
    background-color:#4F7A9A;

   
}


.myMenu li {
	list-style:none;
	float:left;
	font:14px Arial, Helvetica, sans-serif #111;
    color:white;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
    color:white;
	padding: 1em 2em;
	margin:0;
	border-right: 0px solid #fff;
    font-size:16px;
}

.myMenu li a:hover {
	/*background-color:#0DBAA6;*/	
    background-color:#4F7A9A;
}
/*.myMenu  li  a:hover  {
background-color:#9CA2A4; 
}*/

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
}

.myMenu li ul li {
	display:inline;
	float:none;
}

    .myMenu li ul li a {
    font-size:16px;
    
    }

.myMenu li ul li a:link, .myMenu li ul li a:visited {

	width:auto;
     background-color:#0A3151;
    color:white;
    font-size:16px;
}

.myMenu li ul li a:hover {
	background-color:#0DBAA6;	
}